<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studio.sevenapp.android.popkornstudio">

    <application
        android:name=".base.MainAplication"
        android:allowBackup="true"
        android:icon="${iconApp}"
        android:label="@string/app_name"
        android:roundIcon="${iconApp}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signin.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>